<?xml version="1.0"?>
<!--
/**
 * Copyright © JOVEpay. Licensed under GPLv3 or later. See LICENSE.txt.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <jove_pay>
                <active>0</active>
                <model>Jovepay\Checkout\Model\Methods\Jovepay</model>
                <order_status>pending</order_status>
                <title>JOVEpay</title>
                <allowspecific>0</allowspecific>
                <group>jovepay</group>
                <is_testnet>0</is_testnet>
                <is_dark>0</is_dark>
                <status_order_placed>pending</status_order_placed>
                <status_order_paid>processing</status_order_paid>
                <debug>0</debug>
            </jove_pay>
        </payment>
    </default>
</config>
