<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2026 JOVEpay. All rights reserved.
 * @author   : JOVEpay <support@jovepay.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <jove_pay>
                <active>1</active>
                <model>JP\JovePay\Model\Methods\Jovepay</model>
                <order_status>pending</order_status>
                <title>JOVEpay</title>
                <allowspecific>0</allowspecific>
                <group>jovepay</group>
            </jove_pay>
        </payment>
    </default>
</config>